@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900);
*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
    line-height: 1.4;
    padding: 50px;
    background-color: #eaeaea;

}

h1, h2, h3 {
    font-weight: 900;
}

ul {
    list-style: none;
}

h1 {
    margin: 30px 0;
    text-align: center;
    color: #505961;
}

.character-list-container {
    width: 75%;
    margin: 0 auto;
}

.character {
    background-color: #fff;
    margin-bottom: 10px;
    overflow: hidden;
}

.character * {
    color: #585961;
}

.character img {
    float: left;
    margin-right: 28px;
}

.button {
    border: none;
    background: #505961;
    text-align: center;
    padding: 5px 20px;
    border-radius: 0;
    position: relative;
    bottom: 20px;
    left: 50%;
    color: #c9ffed;
    font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
    transition: .25s all ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background: deeppink;
    color: #fff;
}